{% extends "base.html.twig" %}

{% block body %}
<h1>{{ title }}</h1>
{% if age > 18 %}
    <p>Vous êtes majeur</p>
{% else %}
    <p>Vous êtes mineur</p>
{% endif %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod, voluptates, voluptatem, quae quia quos quidem quibusdam doloremque voluptatum autem nemo ipsam. Quisquam, quod, voluptates, voluptatem, quae quia quos quidem quibusdam doloremque voluptatum autem nemo ipsam.</p>
<p>Ut veritatis, quidem, quibusdam, quae, quia quos quod voluptates voluptatem autem nemo ipsam. Quisquam, quod, voluptates, voluptatem, quae quia quos quidem quibusdam doloremque voluptatum autem nemo ipsam. Quisquam, quod, voluptates, voluptatem, quae quia quos quidem quibusdam doloremque voluptatum autem nemo ipsam.</p>
{% endblock %}